{% load i18n %}
{% load account_tags %}
{% load vocab_tags %}

<ul class="navbar-nav">
    {% if request.user.is_authenticated %}

        <li class="dropdown">
                <button class="dropbtn" id="dropdown-btn">
                <i class="fa fa-user" aria-hidden="true" title="User"></i><span class="sr-only">User:</span> {% user_display request.user %}
                </button>
                <ul class="dropdown-content">
                    {% comment %} removed for now - buggy - modal window should not be a child of dropdown-content {% endcomment %}
                    {% comment %} <li id="quick-add"></li> {% endcomment %}
                    <li class="nav-item">
                        <a href="{% url 'account_settings' %}"><i class="fa fa-cog" aria-hidden="true"></i> {% trans "Settings" %}</a>
                    </li>
                    {% if not IS_LTI %}
                        <li class="nav-item">
                            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> {% trans "Log out" %}</a>
                        </li>
                    {% endif %}
                </ul>

        </li>
    {% else %}
        {% if not IS_LTI %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
            {% if ACCOUNT_OPEN_SIGNUP %}
                <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
