{% extends "base.html" %}

{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load vocab_tags %}
{% load static %}


{% block styles %}
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{%  static 'src/favicons/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%  static 'src/favicons/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%  static 'src/favicons/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%  static 'src/favicons/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{%  static 'src/favicons/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{%  static 'src/favicons/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{%  static 'src/favicons/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{%  static 'src/favicons/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{%  static 'src/favicons/favicon-196x196.png' %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{%  static 'src/favicons/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{%  static 'src/favicons/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{%  static 'src/favicons/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{%  static 'src/favicons/favicon-128.png' %}" sizes="128x128" />
  <link rel="shortcut icon"  type="image/x-icon" href="{%  static 'favicon.ico' %}">
  <meta name="application-name" content="Hedera"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{%  static 'src/favicons/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{%  static 'src/favicons/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{%  static 'src/favicons/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{%  static 'src/favicons/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{%  static 'src/favicons/mstile-310x310.png' %}" />

  {% render_bundle "vendor" "css" %}
  {% render_bundle "main" "css" %}
{% endblock %}

{% block extra_head_base %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_id %}body{% endblock %}

{% block topbar_base %}
  <header>
    <nav>
      <div class="container">
        {% block topbar %}
          {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{% block site_name %}{{ SITE_NAME }}{% endblock %}</a>{% endblock %}
          {% block navbar-toggler %}{% endblock %}
          {% block nav %}
            <ul class="navbar-nav mr-auto">
              {% block nav_items %}
              {% if request.user.is_authenticated %}
                <li class="navbar-item"><a class="nav-link" href="{% url 'lemmatized_texts_list' %}">Lemmatized Texts</a></li>
                <li class="navbar-item"><a class="nav-link" href="{% url 'vocab_list_list' %}">Vocabulary Lists</a></li>
                <li class="navbar-item">
                    {% default_vocab_list request.user as vocab_list %}
                    {% if vocab_list %}
                    <a class="nav-link" href="{% url "vocab_list_personal_detail" vocab_list.lang %}">
                      Personal Vocabulary Lists
                    </a>
                    {% endif %}
                </li>
              {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
          {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
        {% endblock %}
      </div>
    </nav>
  </header>
{% endblock %}

{% block body_base %}
<main>
    {% block content_left %}{% endblock %}
    <section id="content-section">
        <div class="messages-container">
            {% block messages %}{% include "_messages.html" %}{% endblock %}
        </div>
        <div id="content-body">
            {% block body %}{% endblock %}
        </div>
    </section>
    {% block content_right %}{% endblock %}
</main>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {% if VUE_DEBUG %}<script src="http://localhost:8098"></script>{% endif %}
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    {% render_bundle "vendor" "js" %}
    {% render_bundle "main" "js" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
