{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body_base %}

  <section class="home-hero" title="Hedera Logo">
    {# no container as padding managed by section and fixed by media width #}
    <h2>The Hedera Project</h2>
    <h1>Hedera Reader</h1>
  </section>

  <section class="main">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2>About the Hedera Reader</h2>
          <p class="lead">
            The <strong>Hedera Reader</strong> is a reading and vocabulary environment for Latin, Greek, and Russian texts
            intended for use by teachers, students, and independent learners alike.
          </p>
          <p class="more">
            <a href="{# url 'about' #}">read more</a>
          </p>
        </div>
        <div class="col-md-6">
          <h2>Recent Changes</h2>

          <p>...</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
