[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django-user-accounts = "==3.0.0"
pinax-eventlog = "==3.0.0"
django = "==2.2.13"
django-webpack-loader = "==0.7.0"
pinax-templates = "==2.0.6"
requests = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
boto3 = "==1.12.43"
django-storages = "==1.9.1"
django-rq = "==2.3.2"
django-querycount = "*"
iso-639 = "*"
cltk = "==0.1.117"
sentry-sdk = "==0.14.3"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
