[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django-user-accounts = "==3.0.2"
django-jsonfield-backport = ">=1.0.0,<2"
pinax-eventlog = "==5.1.0"
django = ">=2.2.20"
django-webpack-loader = "==1.0.0"
pinax-templates = "==2.0.6"
requests = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
boto3 = "==1.12.43"
django-storages = "==1.10.1"
django-rq = "==2.3.2"
django-querycount = "*"
iso-639 = "*"
cltk = "==0.1.117"
sentry-sdk = "==0.17.6"
rq = "==1.5.2"
wagtail = ">=2.11.7"
django-lti-provider = "==0.4.3"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
"pre-commit" = "*"
