{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}New Text to Lemmatize{% endblock %}

{% block body_class %}lemmatized-texts{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body %}
  <h1>New Text to Lemmatize</h1>
  <form method="post" action=".">
    {% csrf_token %}
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" value="{{ cloned_from.title }}">
    <div class="form-group">
      <label>Language</label>
      <select name="lang" class="form-control">
        <option value="grc" {% if select_lang == "grc" %}selected{% endif %}>Greek</option>
        <option value="lat" {% if select_lang == "lat" %}selected{% endif %}>Latin</option>
        <option value="rus" {% if select_lang == "rus" %}selected{% endif %}>Russian</option>
      </select>
    </div>
    {% if cloned_from %}
      <input type="hidden" name="cloned_from" value="{{ cloned_from.pk }}" />
    {% endif %}
    <div class="form-group">
      <label>Text</label>
      <textarea name="text" class="form-control" rows="10">{{ cloned_from.original_text }}</textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
    <a class="btn btn-default" href="{% url 'lemmatized_texts_list' %}">Cancel</a>
  </form>
{% endblock %}
