{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}New Text to Lemmatize{% endblock %}

{% block body_class %}lemmatized-texts{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}
{% block nav_items %}{% endblock %}

{% block body %}
  <h1>New Text to Lemmatize</h1>
  <form method="post" action=".">
    {% csrf_token %}
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control">
    <div class="form-group">
      <label>Language</label>
      <select name="lang" class="form-control">
        <option value="grc">Greek</option>
        <option value="lat">Latin</option>
      </select>
    </div>
    <div class="form-group">
      <label>Text</label>
      <textarea name="text" class="form-control" rows="10"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
    <a class="btn btn-default" href="{% url 'lemmatized_texts_list' %}">Cancel</a>
  </form>
{% endblock %}
