{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load lemmatized_text_tags %}
{% load bootstrap %}

{% block head_title %}Lemmatized Texts{% endblock %}

{% block body_class %}lemmatized-text{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}



{% block body %}
  <h1>Lemmatized Text to Edit</h1>
  <div style="width:75%;">
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.media }}
        {{ form|bootstrap }}
        <input type="submit" value="Submit Edits"/>
      </form>
  </div>
{% endblock %}
