{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ text.title }}{% endblock %}

{% block body_class %}lemmatized-text{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body %}
  <nav>
    <a href={{ request.META.HTTP_REFERER }}>Lemmatized Texts</a>
    &laquo;
    <h1 class="font-weight-bold d-inline font-size-1">{{ text.title }}</h1>
    {% if PDF_HANDOUT_ENABLED %}
    <div style="float: right;">
      <a href="{% url 'lemmatized_texts_handout' text.secret_id %}" target="_blank">
        <i class="fa fa-print" aria-hidden="true" title="Print"></i><span class="sr-only">Print</span>
      </a>
    </div>
    {% endif %}
  </nav>
  <div id="learner-app" text-id="{{ text.pk }}"></div>
{% endblock %}
