{% extends "site_base.html" %}

{% load i18n %}
{% load lemmatized_text_tags %}

{% block head_title %}Lemmatized Texts{% endblock %}

{% block body_class %}lemmatized-text{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body %}
  <h1>Lemmatized Texts</h1>

  <table class="table">
    <tr><th>Text</th><th>Language</th><th>Lemmatization Progress</th><th>Familiarity</th><th></th></tr>
  {% for text in lemmatized_texts %}
    <tr>
      <td style="vertical-align: middle;">
        <b>{{ text.title }}</b>{% if text.completed == 100 %}<br>
        <a href="/lemmatized_text/{{ text.pk }}/">Teacher</a>
        &bull;
        <a href="/lemmatized_text/{{ text.pk }}/learner/">Learner</a>{% endif %}
      </td>
      <td style="vertical-align: middle;">{{ text.display_name }}</td>
      <td style="vertical-align: middle;">
        {% if text.completed == 100 %}
          {{ text.token_count }}
        {% else %}
          <div class="progress">
            <div class="progress-bar {% if text.completed < 100 %}bg-warning{% endif %}" role="progressbar" style="width: {{ text.completed }}%" aria-valuenow="{{ text.completed }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        {% endif %}
      </td>
      <td style="vertical-align: middle;">
        {% stats_for_text text request.user as stats %}
        {% if stats %}
        <div class="text-familiarity mb-0">
            <div class="familiarity-null">{{ stats.unranked }}</div>
            <div class="familiarity-1">{{ stats.one }}</div>
            <div class="familiarity-2">{{ stats.two }}</div>
            <div class="familiarity-3">{{ stats.three }}</div>
            <div class="familiarity-4">{{ stats.four }}</div>
            <div class="familiarity-5">{{ stats.five }}</div>
        </div>
        {% endif %}
      </td>
      <td style="vertical-align: middle;">
        {% if text.completed == 100 %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'lemmatized_texts_create' %}?cloned_from={{ text.pk }}"><i class="fa fa-copy"></i> Clone</a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'lemmatized_texts_delete' text.pk %}"><i class="fa fa-trash"></i> Delete</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

  <a class="btn btn-primary" href="{% url 'lemmatized_texts_create' %}"><i class="fa fa-plus"></i> Create</a>
{% endblock %}
