.form-disambiguation {
  font-family: 'Noto Serif';
}
.mark-resolved {
  margin-top: 20px;
}

.form-disambiguation > .gloss> .lemma-gloss-heading {
  background-color: #F0F0F0;
  .lemma-id {
    color: red;
  }
}
