// header {
//   nav {
//     @extend .navbar;
//     @extend .navbar-expand-lg;
//     @extend .navbar-dark;
//     @extend .bg-dark;
//     div.topbar-container {
//       @extend .container;
//       >a {
//         @extend .navbar-brand;
//       }
//       .nav-container {
//         .main-bar {
//           @extend .navbar-nav;
//           @extend .mr-auto;
//           li {
//             @extend .nav-item;
//             a {
//               @extend .nav-link;
//             }
//           }
//         }
//       }
//     }
//   }
// }

button.navbar-toggler {
    // color: $gray-600;
    border-width: 0;
}

.navbar-brand {
  img {
    height: 60px;
    margin: -12px 0;
  }
  font-family: 'Noto Serif';
}

.flatpage li.nav-item.subpage {
  list-style: none;
}
.flatpage li.nav-item.subpage > a {
  font-size: 0.85rem;
}

/* Dropdown Button */
.dropbtn {
  /* background-color: #04AA6D; */
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  border: none;
  padding-top: 8px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 5px 0px 5px 24px;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: rgba(255, 255, 255, 0.75)
}
#dropdown-btn {
  padding-left: 0;
}