header {
  nav {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-dark;
    @extend .bg-dark;
    div.topbar-container {
      @extend .container;
      >a {
        @extend .navbar-brand;
      }
      .nav-container {
        .main-bar {
          @extend .navbar-nav;
          @extend .mr-auto;
          li {
            @extend .nav-item;
            a {
              @extend .nav-link;
            }
          }
        }
      }
    }
  }
}

.navbar-brand {
  img {
    height: 60px;
    margin: -12px 0;
  }
  font-family: 'Noto Serif';
}
