div.text {
  @include make-container();
  font-family: 'Noto Serif';
}

.token {
  cursor: pointer;
}

.unresolved {
  font-weight: 700;
}

.no-lemma {
  color: red;
}


.selected {
  background: #CCC;
}
