{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Vocabulary Lists{% endblock %}

{% block body_class %}vocabulary{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body %}
  <nav><a href="{% url "vocab_list_list" %}">Vocabulary Lists</a> &raquo; <b>{{ vocabularylist.title }}</b></nav>

  <h1 class="mt-2 mb-4">{{ vocabularylist.title }}</h1>

  <p class="lead">Are you sure you want to delete this list?</p>
  <form method="post" action=".">{% csrf_token %}<a href="{% url "vocab_list_list" %}" class="btn btn-light">Cancel</a> <button class="btn btn-danger">Yes, Delete</button></form>
{% endblock %}
