{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Vocabulary Lists{% endblock %}

{% block body_class %}vocabulary{% endblock %}

{% block site_brand %}{% endblock %}
{% block navbar-toggler %}{% endblock %}

{% block body %}
  <h1 class=" mb-4 d-flex justify-content-between">
    <span>Vocabulary Lists</span>
    <a class="btn btn-sm btn-primary mt-auto" href="{% url 'vocab_list_create' %}">Create</a>
  </h1>



  <table class="table">
    <tr><th>Title</th><th>Language</th><th>Created</th></tr>
    {% for vocab_list in vocabularylist_list %}
        <tr>
        <td class="d-flex justify-content-between">
          <a href="{% url "vocab_list_detail" vocab_list.pk %}">{{ vocab_list.title }}</a>
          <a href="{% url "vocab_list_delete" vocab_list.pk %}" class="text-danger"><i class="fa fa-fw fa-trash"></i></a>
        </td>
        <td>{{ vocab_list.display_name }}</td>
        <td>{{ vocab_list.created }}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
